<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mobile-company">
	<tr>
		<td><f:translate key="tx_mobilecompany_domain_model_company.name" /></td>
		<td>{company.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_mobilecompany_domain_model_company.country" /></td>
		<td>{company.country}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_mobilecompany_domain_model_company.founded_year" /></td>
		<td>{company.foundedYear}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_mobilecompany_domain_model_company.website" /></td>
		<td>{company.website}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_mobilecompany_domain_model_company.description" /></td>
		<td>{company.description}</td>
	</tr>
</table>
</html>
