.First-CSS{
    color: black;
    margin: 200px auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}
.Second-CSS{
    color: white;
    margin: 200px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}