<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Company:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>List of Company</h1>

    <f:flashMessages />

    <table class="tx_mobilecompany">
        <tr>
            <th><f:translate key="tx_mobilecompany_domain_model_company.name" /></th>
            <th><f:translate key="tx_mobilecompany_domain_model_company.country" /></th>
            <th><f:translate key="tx_mobilecompany_domain_model_company.founded_year" /></th>
            <th><f:translate key="tx_mobilecompany_domain_model_company.website" /></th>
            <th><f:translate key="tx_mobilecompany_domain_model_company.description" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{companies}" as="company">
            <tr>
                <td><f:link.action action="show" arguments="{company : company}">{company.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{company : company}">{company.country}</f:link.action></td>
                <td><f:link.action action="show" arguments="{company : company}">{company.foundedYear}</f:link.action></td>
                <td><f:link.action action="show" arguments="{company : company}">{company.website}</f:link.action></td>
                <td><f:link.action action="show" arguments="{company : company}">{company.description}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{company : company}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{company : company}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Company</f:link.action>
</f:section>
</html>
